<div class="container">

  <div class="row">
    <div class="col-2">
      Roster Days
    </div>
    <div class="col-10">
      <div class="form-check-inline">
        <label class="form-check-label" for="check1">
          <input type="checkbox" class="form-check-input" id="check1" name="vehicle1" value="something" checked>Monday
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label" for="check2">
          <input type="checkbox" class="form-check-input" id="check2" name="vehicle2" value="something" checked>Tuesday
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">Thursday
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">Friday
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">Staturday
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">Sunday
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label for="selStartDay">Start Day</label>
    </div>
    <div class="col-10">
      <div class="form-group">
        <select class="form-control" id="selStartDay">
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
          <option>Saturday</option>
          <option>Sunday</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>Duties</label>
    </div>
    <div class="col-10">

    </div>
  </div>

    <div class="row">
      <div class="col-2">
        <label for="optDuration">Duration</label>
      </div>

      <div class="col-10">
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optDuration">One Week
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optDuration">Two Weeks
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optDuration">One Month
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <label for="optNaming">Naming</label>
      </div>
      <div class="col-10">
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optNaming">Automatic
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optNaming">Manual
          </label>
        </div>
      </div>
    </div>

  </div>
