<div class="container">

  <div class="row">
    <div class="col-2">
      Roster Days
    </div>
    <div class="col-10">
      <div class="form-check-inline">
        <label class="form-check-label" for="check1">
          <input type="checkbox" class="form-check-input" id="check1" name="vehicle1" value="something" checked>Monday
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label" for="check2">
          <input type="checkbox" class="form-check-input" id="check2" name="vehicle2" value="something" checked>Tuesday
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">Thursday
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">Friday
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">Staturday
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">Sunday
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label for="startDate">Start Date</label>
    </div>
    <div class="col-4">
      <div class="form-group">
        <input type="date" class="form-control" id="startDate">
      </div>
    </div>

    <div class="col-2">
      <label for="endDate">End Date</label>
    </div>
    <div class="col-4">
      <div class="form-group">
        <input type="date" class="form-control" id="endDate">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>Duties</label>
    </div>
    <div class="col-10">

    </div>
  </div>

  <p>This is where the calendar would go</p>

  <div class="row">
    <div class="col-2">
      <label for="name">Name</label>
    </div>

    <div class="col-10">
      <div class="form-group">
        <input type="text" class="form-control" id="name">
      </div>
    </div>

    <button id="btnPublish" class="btn btn-primary" >Publish</button>
  </div>
</div>
